name: Changelog

on:
  pull_request:
    types: [labeled, unlabeled, opened, reopened, synchronize]

permissions:
  contents: read

env:
  PR_NUMBER: ${{ github.event.number }}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Check for file
      if: ${{ hashFiles('docs/changes/"$PR_NUMBER".*.rst') == '' }} &&
          !contains( github.event.pull_request.labels.*.name, "no-changelog-needed")
      run: |
          echo ERROR: No changelog file found for pull request \#"$PR_NUMBER"!
          exit 1

