name: Changelog

on:
  pull_request:
    types: [labeled, unlabeled, opened, reopened, synchronize]

permissions:
  contents: read

env:
  PR_NUMBER: ${{ github.event.number }}

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Check for file
      if: ${{ hashFiles('docs/changes/"$PR_NUMBER".*.rst') == '' }} &&
          ${{ github.event.pull_request.user.login != 'pre-commit-ci[bot]' }} &&
          ${{ github.event.pull_request.user.login != 'dependabot[bot]' }} &&
          !contains( toJson(github.event.pull_request.labels), 'no-changelog-needed') &&
      run: |
          echo ERROR: No changelog file found for pull request \#"$PR_NUMBER"!
          exit 1

